# Ignore Gradle project-specific cache directory
.gradle

# Ignore ACS editor directory
.acside

# Ignore Kotlin directory
.kotlin

# Ignore Gradle build output directory
build
# 签名密钥不入库
key.properties
*.jks
*.keystore
